## 3. What is identifier?

### Naming to an entity/value/data.
### This identifier can be variable name, function name, module name, object name, class name.

## 4. Which of the following is a valid  identifier?

### b)name_1

In [2]:
name_1='VARSHA'

#### Because underscore is allowed in an identifier.

## 5. Can identifiers start with a digit?

### False

In [4]:
4Name="varsha"

SyntaxError: invalid decimal literal (645110551.py, line 1)

#### Because Identifiers cannot start with digit.

## 6. Which character is allowed in a  identifier?

### c)_

In [6]:
_marks=90

#### Because _(underscore) is allowed in a identifier.

## 7. Are  identifiers case-sensitive?

## Yes

In [7]:
Name="hello"
name="hello"

#### Because Uppercase and Lowercase are different in python.

## 8. Which of these are valid  identifiers? Select all that apply.

## a) first_name
## b) FirstName
## d) _firstname

In [8]:
first_name="sura"
FirstName="sura"
_firstname="sura"

#### Because underscored is allowed and there is no space in between.

## 9. Is class a valid identifier name? Why or why not?

## No. Class is not a valid identifier.

In [9]:
class=405

SyntaxError: invalid syntax (1682762731.py, line 1)

#### Because it is a keyword. Keywords we should not use for identifiers.

## 10. What will happen if you use an invalid identifier name in your code?

## c) It raises a syntax error

In [10]:
3marks=60

SyntaxError: invalid decimal literal (953903086.py, line 1)

#### Because it is invalid it raises a syntax error.

## 11. Can two identifiers in  differ only by case? (e.g., name and Name)

## True.

In [12]:
name="rani"
Name="rani"

#### Because case sensitive.

## 12. What is the difference between myVar and my_var in ?

## Underscore is in between my and var, Capital V.

In [14]:
myVar=10
my_var=10

## 13. Can an identifier be the same as a built-in function name (like print)?

## We should not use.

In [3]:
print=7
print

7

## 14. Choose the incorrect identifier from below:

## c) 2ndUser

In [16]:
2ndUser="Rekha"

SyntaxError: invalid decimal literal (2234613058.py, line 1)

#### Because Identifiers should not start with digits.

## 15. Why is for not a valid identifier name in ?

## for is not a valid identifier because it is a keyword, we should not use keywords.

In [18]:
for="Varsha"

SyntaxError: invalid syntax (3607613351.py, line 1)

## 16. Is _temp a valid identifier? What does the underscore mean?

## valid. Underscore means it is a special character.

In [20]:
_temp=50

## 17. Create all valid  identifier using the words: user, data, and 2025.

In [21]:
user='Hari'
data=100
Year2025="current year"

## 18. Create a variable named my-name and assign it the value "Alice". What happens? Try it below.

In [22]:
my-name="Alice"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2311759840.py, line 1)

#### It is raising syntax error because special characters are not allowed except underscore.

## 19. Try creating a variable that starts with a number, like 1value = 10. What error do you see?

In [23]:
1value=10

SyntaxError: invalid decimal literal (3885281593.py, line 1)

#### Syntax Error:invalid decimal literal. Because identifiers should not start with digit.

## 20.  Define a variable named user_name and assign any value. Then print it.

In [58]:
user_name='hi'
print(user_name)

hi

## 21. Try to create a variable named class and assign it any value. What happens?

In [30]:
class=105

SyntaxError: invalid syntax (4066345347.py, line 1)

#### Showing Syntax error. Because class is keyword. Keywords should not use for identifiers.

## 22. Create two variables: data and Data. Assign different values and print both. What do you observe?

In [57]:
data=20
Data=40
print(data)
print(Data)

20
40

#### data and Data are different because case sensitive.

## 23. Which of the following variable names work in ? Try each one and note which raise errors.

## b)_first_name
## d)firstName
## e)first_name
## These are correct.

In [34]:
first-name="Hello"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1925945622.py, line 1)

#### Syntax error cannot assign to expression here. Maybe you meant '==' instead of '='?

In [35]:
_first_name="Hello"

#### no error.

In [37]:
1stName="Hello"

SyntaxError: invalid decimal literal (3731418509.py, line 1)

#### SyntaxError: invalid decimal literal.

In [38]:
firstName="Hello"

#### no error.

In [39]:
first_name="Hello"

#### no error.

## 24. Try assigning a value to the variable print. What happens when you use print() afterward?

In [74]:
print=30
print()

TypeError: 'int' object is not callable

#### Showing TypeError: 'int' object is not callable.

## 25. Create a variable with a very long name using underscores (e.g., this_is_a_really_long_variable_name). Assign any value and print it.

In [52]:
this_is_a_really_long_variable_name="SURA VARSHA"
print(this_is_a_really_long_variable_name)

SURA VARSHA

## 26. Write  code to create a variable named _temp and assign it the value 5. Then print _temp.

In [51]:
_temp=5
print(_temp)

5

## 27. Try using the identifier for = 10. What error do you get?

In [45]:
for=10

SyntaxError: invalid syntax (4258171486.py, line 1)

#### I got SyntaxError: invalid syntax

## 28. Use dir(__builtins__) to print a list of  built-in names. Try to create a variable with one of them (e.g., input). What happen?

In [50]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'PythonFinalizationError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '_IncompleteInputError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [61]:
input="test"

#### Nothing happens no error

## 29. Create variables named Name, NAME, and name, each with a different value. Print all three.

In [63]:
Name="harini"
NAME="RAMYA"
name="dhevansh"
print(Name)
print(NAME)
print(name)

harini
RAMYA
dhevansh

## 30. Use a mix of underscores and camelCase to create three identifiers: userData, user_data, and User_Data. Assign each a number and add them.

In [64]:
userData=100
user_data=200
User_Data=300
total=userData+user_data+User_Data
print(total)

600

## 31. Write  code to check whether the identifier 2cool is valid. Try assigning a value to it.

In [65]:
2cool="yes"

SyntaxError: invalid decimal literal (1185032326.py, line 1)

#### Raising error because identifier should not start with digit.

## 32. Come up with a creative, valid variable name using the words: student, marks, and 2025. Assign it a list of three numbers.

In [2]:
student_roll_no=20
marks_of_student=100
sum_of_2025=9