## For Loop
## 1. Multiply on the Run
## Print the square of numbers from 1 to 10 using a for loop.
## Expected Output:
## 1 4 9 16 25 36 49 64 81 100
## Hint: Multiply the loop variable with itself inside the loop.

In [2]:
for i in range(1,11):
    print(i*i,end=' ')

1 4 9 16 25 36 49 64 81 100

## 2. Backward by Two
## Print all even numbers from 20 to 2 in reverse using a for loop.
## Expected Output:
## 20 18 16 14 12 10 8 6 4 2
## Hint: Use range(start, stop, step) with negative step.

In [8]:
for i in reversed(range(2,21,2)):
    if i%2==0:
        print(i,end=' ')

20 18 16 14 12 10 8 6 4 2

## 3. Letters in Order
## Print the characters of the string "" one by one using a for loop.
## Expected Output:
## P  
## y  
## t  
## h  
## o  
## n

## Hint: Loop directly through the string.

In [9]:
string="Python"
for i in string:
    print(i)

P
y
t
h
o
n

## 4. Total Characters in List
## You are given:
## words = ["hi", "code", "ok", "world"]
## Count how many total characters are in the list and print the result.
## Expected Output:
## 13
## ("hi"=2, "code"=4, "ok"=2, "world"=5 â†’ total 13)
## Hint: Use len() for each word and add to a variable.

In [14]:
words = ["hi", "code", "ok", "world"]
sum=0
for i in words:
    for j in i:
     sum=sum+len(j)
print(sum)

13

## 5. Print in Reverse Without Reversing
## You have a list:
## nums = [11, 22, 33, 44, 55]
## Print the elements from last to first using indexing and for loop.
## Expected Output:
## 55 44 33 22 11
## Hint: Use range() with len(nums)-1 to 0 and negative step.

In [17]:
nums = [11, 22, 33, 44, 55]
for i in range(len(nums)-1,-1,-1):
    print(nums[i],end=' ')

55 44 33 22 11

## 6. Count the Vowels
## Given a word "information", count how many vowels it contains.
## Expected Output:
## 5
## Hint: Loop through the string, and check if each character is in 'aeiou'.

In [18]:
word="information"
vowels='aeiou'
count=0
for i in word:
    if i in vowels:
        count+=1
print(count)

5

## 7. Double the List
## You are given:
## numbers = [1, 2, 3, 4, 5]
## Create a new list that contains each number multiplied by 2. Print the new list.
## Expected Output:
## [2, 4, 6, 8, 10]
## Hint: Use an empty list and append inside the loop.

In [20]:
numbers = [1, 2, 3, 4, 5]
list1=[]
for i in numbers:
    list1.append(i*2)
print(list1)

[2, 4, 6, 8, 10]

## 8. Compare Lengths
## Given:
## names = ["Raj", "Simran", "Aman", "Vikram"]
## Print all names from the list that are longer than 4 characters.
## Expected Output:
## Simran Vikram
## Hint: Use len(name) in an if condition inside the loop.

In [22]:
names = ["Raj", "Simran", "Aman", "Vikram"]
for i in names:
    if len(i)>4:
        print(i,end=' ')

Simran Vikram

## 9. Replace Values by Square
## You are given:
## data = [2, 3, 4, 5]
## Modify the list so that each element becomes its square. Print the modified list.
## Expected Output:
## [4, 9, 16, 25]
## Hint: Use indexing to update values inside the loop.

In [27]:
data = [2, 3, 4, 5]
count=0
for i in data:
    data[count]=i*i
    count=count+1
print(data)

[4, 9, 16, 25]

## 10. Build a Word from Characters
## Given:
## chars = ['c', 'o', 'd', 'e']
## Use a loop to join the characters into a word and print it.
## Expected Output:
## Hint: Start with an empty string and keep adding each character inside the loop.

In [29]:
chars = ['c', 'o', 'd', 'e']
string=""
for i in chars:
    string+=i
print(string)

code