## 1. Classroom Attendance Sheet
## Scenario:
## A teacher needs to mark attendance for 3 classes.
## Each class has 4 students.
## The program should print: Class 1 → Student 1, Class 1 → Student 2 … until all classes and students are covered.
## Hint:
## Outer loop: Goes through classes (1 to 3).
## Inner loop: Goes through students in that class (1 to 4).

In [1]:
for i in range(1,4):
    for j in range(1,5):
        print("Class",i,"Student",j)

Class 1 Student 1
Class 1 Student 2
Class 1 Student 3
Class 1 Student 4
Class 2 Student 1
Class 2 Student 2
Class 2 Student 3
Class 2 Student 4
Class 3 Student 1
Class 3 Student 2
Class 3 Student 3
Class 3 Student 4

## 2. Train Seat Booking
## Scenario:
## A train has 5 coaches, and each coach has 8 seats.
## Write a program to display seat labels like Coach 1 Seat 1, Coach 1 Seat 2 … until Coach 5 Seat 8.
## Hint:
## Outer loop: Coaches (1 to 5).
## Inner loop: Seats (1 to 8).

In [2]:
for i in range(1,6):
    for j in range(1,9):
        print("Coach",i,"Seat",j)

Coach 1 Seat 1
Coach 1 Seat 2
Coach 1 Seat 3
Coach 1 Seat 4
Coach 1 Seat 5
Coach 1 Seat 6
Coach 1 Seat 7
Coach 1 Seat 8
Coach 2 Seat 1
Coach 2 Seat 2
Coach 2 Seat 3
Coach 2 Seat 4
Coach 2 Seat 5
Coach 2 Seat 6
Coach 2 Seat 7
Coach 2 Seat 8
Coach 3 Seat 1
Coach 3 Seat 2
Coach 3 Seat 3
Coach 3 Seat 4
Coach 3 Seat 5
Coach 3 Seat 6
Coach 3 Seat 7
Coach 3 Seat 8
Coach 4 Seat 1
Coach 4 Seat 2
Coach 4 Seat 3
Coach 4 Seat 4
Coach 4 Seat 5
Coach 4 Seat 6
Coach 4 Seat 7
Coach 4 Seat 8
Coach 5 Seat 1
Coach 5 Seat 2
Coach 5 Seat 3
Coach 5 Seat 4
Coach 5 Seat 5
Coach 5 Seat 6
Coach 5 Seat 7
Coach 5 Seat 8

## 3. Monthly Expense Tracker
## Scenario:
## You want to store expenses for 4 months.
## For each month, you need to enter expenses for 3 categories: Food, Transport, and Entertainment.
## The program should print each month’s category expenses.
## Hint:
## Outer loop: Months (1 to 4).
## Inner loop: Categories (1 to 3).

In [6]:
for i in range(1,5):
   for j in range(1,4):
         expense_on=input("On what we spent")
         exp=int(input("Enter expenses"))
         print("month",i,expense_on,"expense",exp)

On what we spent Food
Enter expenses 1500

month 1 Food expense 1500

On what we spent Transport
Enter expenses 300

month 1 Transport expense 300

On what we spent Entertainment
Enter expenses 1000

month 1 Entertainment expense 1000

On what we spent Food
Enter expenses 3000

month 2 Food expense 3000

On what we spent Transport
Enter expenses 500

month 2 Transport expense 500

On what we spent Entertainment
Enter expenses 400

month 2 Entertainment expense 400

On what we spent Food
Enter expenses 900

month 3 Food expense 900

On what we spent Transport
Enter expenses 400

month 3 Transport expense 400

On what we spent Entertainment
Enter expenses 450

month 3 Entertainment expense 450

On what we spent Food
Enter expenses 500

month 4 Food expense 500

On what we spent Transport
Enter expenses 300

month 4 Transport expense 300

On what we spent Entertainment
Enter expenses 2000

month 4 Entertainment expense 2000

## 4. Exam Results Report
## Scenario:
## A school has 2 sections (A and B).
## Each section has 5 students, and you need to print their marks for Math and Science.
## Hint:
## Outer loop: Sections (A to B).
## Inner loop: Students (1 to 5).
## Inside the inner loop: print marks for 2 subjects.

In [7]:
for i in range(65,67):
   for j in range(1,6):
           Math=int(input("Enter marks"))
           Science=int(input("Enter marks"))
           print("Section",chr(i),"Student",j,"Math",Math,"Science",Science)

Enter marks 89
Enter marks 89

Section A Student 1 Math 89 Science 89

Enter marks 70
Enter marks 71

Section A Student 2 Math 70 Science 71

Enter marks 80
Enter marks 86

Section A Student 3 Math 80 Science 86

Enter marks 79
Enter marks 56

Section A Student 4 Math 79 Science 56

Enter marks 78
Enter marks 45

Section A Student 5 Math 78 Science 45

Enter marks 76
Enter marks 87

Section B Student 1 Math 76 Science 87

Enter marks 34
Enter marks 65

Section B Student 2 Math 34 Science 65

Enter marks 89
Enter marks 98

Section B Student 3 Math 89 Science 98

Enter marks 99
Enter marks 45

Section B Student 4 Math 99 Science 45

Enter marks 57
Enter marks 45

Section B Student 5 Math 57 Science 45

## 5. Supermarket Price List
## Scenario:
## A supermarket has 3 departments: Fruits, Vegetables, and Dairy.
## Each department has 4 items.
## The program should print the department name followed by each item’s price.
## Hint:
## Outer loop: Departments (1 to 3).
## Inner loop: Items in that department (1 to 4).

In [3]:
for i in range(1,4):
        for j in range(1,5):
            item=input("Enter item")
            item_price=int(input("Enter item price"))
            print("Department",i,item,"Price",item_price)

Enter item apple
Enter item price 100

Department 1 apple Price 100

Enter item mango
Enter item price 80

Department 1 mango Price 80

Enter item sapota
Enter item price 25

Department 1 sapota Price 25

Enter item pineapple
Enter item price 70

Department 1 pineapple Price 70

Enter item beans
Enter item price 30

Department 2 beans Price 30

Enter item potato
Enter item price 40

Department 2 potato Price 40

Enter item tomato
Enter item price 20

Department 2 tomato Price 20

Enter item chillies
Enter item price 30

Department 2 chillies Price 30

Enter item milk
Enter item price 10

Department 3 milk Price 10

Enter item panner
Enter item price 200

Department 3 panner Price 200

Enter item ghee
Enter item price 250

Department 3 ghee Price 250

Enter item oil
Enter item price 250

Department 3 oil Price 250

## 6. Hotel Room Availability
## Scenario:
## A hotel has 4 floors, and each floor has 6 rooms.
## Write a program to list each room’s status like Floor 1 - Room 1: Available.
## Hint:
## Outer loop: Floors (1 to 4).
## Inner loop: Rooms (1 to 6).

In [1]:
for i in range(1,5):
    for j in range(1,7):
        status=input("Enter room status")
        print("Floor",i,"Room",j,status)

Enter room status avaliable

Floor 1 Room 1 avaliable

Enter room status available

Floor 1 Room 2 available

Enter room status avaliable

Floor 1 Room 3 avaliable

Enter room status not avaliable

Floor 1 Room 4 not avaliable

Enter room status not avaliable

Floor 1 Room 5 not avaliable

Enter room status avaliable

Floor 1 Room 6 avaliable

Enter room status avaliable

Floor 2 Room 1 avaliable

Enter room status avaliable

Floor 2 Room 2 avaliable

Enter room status avaliable

Floor 2 Room 3 avaliable

Enter room status avaliable

Floor 2 Room 4 avaliable

Enter room status not avaliable

Floor 2 Room 5 not avaliable

Enter room status avaliable

Floor 2 Room 6 avaliable

Enter room status avaliable

Floor 3 Room 1 avaliable

Enter room status avaliable

Floor 3 Room 2 avaliable

Enter room status not avaliable

Floor 3 Room 3 not avaliable

Enter room status not avaliable

Floor 3 Room 4 not avaliable

Enter room status avaliable

Floor 3 Room 5 avaliable

Enter room status avaliable

Floor 3 Room 6 avaliable

Enter room status avaliable

Floor 4 Room 1 avaliable

Enter room status not avaliable

Floor 4 Room 2 not avaliable

Enter room status avaliable

Floor 4 Room 3 avaliable

Enter room status avaliable

Floor 4 Room 4 avaliable

Enter room status avaliable

Floor 4 Room 5 avaliable

Enter room status avaliable

Floor 4 Room 6 avaliable

## 7. Flight Passenger List
## Scenario:
## An airline has 3 flights today.
## Each flight has 5 passengers booked.
## Write a program to display: Flight 1 → Passenger 1, and so on.
## Hint:
## Outer loop: Flights (1 to 3).
## Inner loop: Passengers (1 to 5).

In [2]:
for i in range(1,4):
    for j in range(1,6):
        print("Flight",i,"Passenger",j)

Flight 1 Passenger 1
Flight 1 Passenger 2
Flight 1 Passenger 3
Flight 1 Passenger 4
Flight 1 Passenger 5
Flight 2 Passenger 1
Flight 2 Passenger 2
Flight 2 Passenger 3
Flight 2 Passenger 4
Flight 2 Passenger 5
Flight 3 Passenger 1
Flight 3 Passenger 2
Flight 3 Passenger 3
Flight 3 Passenger 4
Flight 3 Passenger 5

## 8. School Timetable
## Scenario:
## Your school week has 5 days.
## Each day has 6 periods.
## Write a program to print the day number and the period number for all classes.
## Hint:
## Outer loop: Days (1 to 5).
## Inner loop: Periods (1 to 6).

In [4]:
for i in range(1,6):
    for j in range(1,7):
        print("Day",i,"Period Number",j)

Day 1 Period Number 1
Day 1 Period Number 2
Day 1 Period Number 3
Day 1 Period Number 4
Day 1 Period Number 5
Day 1 Period Number 6
Day 2 Period Number 1
Day 2 Period Number 2
Day 2 Period Number 3
Day 2 Period Number 4
Day 2 Period Number 5
Day 2 Period Number 6
Day 3 Period Number 1
Day 3 Period Number 2
Day 3 Period Number 3
Day 3 Period Number 4
Day 3 Period Number 5
Day 3 Period Number 6
Day 4 Period Number 1
Day 4 Period Number 2
Day 4 Period Number 3
Day 4 Period Number 4
Day 4 Period Number 5
Day 4 Period Number 6
Day 5 Period Number 1
Day 5 Period Number 2
Day 5 Period Number 3
Day 5 Period Number 4
Day 5 Period Number 5
Day 5 Period Number 6

## 9. Library Borrowed Books
## Scenario:
## A library has 4 members, and each member borrows 3 books.
## Write a program to display each member’s borrowed book list.
## Hint:
## Outer loop: Members (1 to 4).
## Inner loop: Books (1 to 3).

In [9]:
for i in range(1,5):
    for j in range(1,4):
        book=input("Enter book")
        print("Member",i,"Book",j,book)

Enter book maths

Member 1 Book 1 maths

Enter book science

Member 1 Book 2 science

Enter book social

Member 1 Book 3 social

Enter book telugu

Member 2 Book 1 telugu

Enter book hindi

Member 2 Book 2 hindi

Enter book english

Member 2 Book 3 english

Enter book english

Member 3 Book 1 english

Enter book maths

Member 3 Book 2 maths

Enter book social

Member 3 Book 3 social

Enter book science

Member 4 Book 1 science

Enter book maths

Member 4 Book 2 maths

Enter book social

Member 4 Book 3 social

## 10. Restaurant Menu Prices
## Scenario:
## A restaurant has 3 menus: Breakfast, Lunch, and Dinner.
## Each menu has 5 items.
## Write a program to display: Menu Name → Item Name → Price.
## Hint:
## Outer loop: Menus (1 to 3).
## Inner loop: Items (1 to 5).

In [2]:
for i in range(1,4):
    name1=input("Enter menu")
    for j in range(1,6):
        item1=input("Enter item")
       
        price1=int(input("Enter Price"))
        
        print(name1,item1,price1)

Enter menu Breakfast
Enter item Idly
Enter Price 30

Breakfast Idly 30

Enter item Dosa
Enter Price 40

Breakfast Dosa 40

Enter item Pesarattu
Enter Price 50

Breakfast Pesarattu 50

Enter item Wada
Enter Price 35

Breakfast Wada 35

Enter item Upma
Enter Price 30

Breakfast Upma 30

Enter menu Lunch
Enter item Brinjal
Enter Price 40

Lunch Brinjal 40

Enter item Egg
Enter Price 30

Lunch Egg 30

Enter item Chicken
Enter Price 100

Lunch Chicken  100

Enter item panner
Enter Price 150

Lunch panner 150

Enter item Beans
Enter Price 35

Lunch Beans 35

Enter menu Dinner
Enter item chapathi
Enter Price 20

Dinner chapathi 20

Enter item Rumali roti
Enter Price 15

Dinner Rumali roti 15

Enter item Milmaker
Enter Price 20

Dinner Milmaker 20

Enter item Omlet
Enter Price 15

Dinner Omlet 15

Enter item Mutton
Enter Price 200

Dinner Mutton 200